@model User

@{
    Layout = "MainView";
    ViewBag.user = Model;
    ViewBag.Selected = "FAQ";
    ViewBag.Title = "Faq";
}

<div class="container">
    <h1 class="text-center display-4">Как купить игру в магазине LozhkaGames</h1>
    <div class="text-justify">
        <p class="lead">Добро пожаловать в магазин LozhkaGames! Мы предлагаем широкий выбор игр различных жанров для вашего удовольствия. Вот подробная инструкция о том, как купить игру у нас:</p>
        <ol>
            <li>Найти понравившуюся игру: Выберите интересующую вас игру из нашего каталога. Мы постоянно обновляем нашу коллекцию игр, поэтому у вас всегда будет возможность найти что-то новое и увлекательное.</li>
            <li>Войти или зарегистрироваться: Если у вас уже есть аккаунт на нашем сайте, просто войдите в него, используя свои учетные данные. Если у вас еще нет аккаунта, вы можете быстро зарегистрироваться, чтобы получить доступ ко всем функциям нашего магазина.</li>
            <li>Перейти на страницу игры: После выбора игры, нажмите на нее, чтобы открыть страницу с детальной информацией.</li>
            <li>Купить игру: На странице игры найдите кнопку "Купить" и нажмите на нее. Вы будете перенаправлены на страницу оформления заказа.</li>
            <li>Оформление заказа: На странице оформления заказа убедитесь, что выбрана правильная игра, и выберите удобный способ оплаты. Заполните необходимую информацию для процесса заказа.</li>
            <li>Получение ключа для Steam: После успешной оплаты, вы получите текстовый документ с ключом для активации игры в Steam. Следуйте инструкциям, чтобы активировать игру на вашем аккаунте в Steam и начать играть.</li>
        </ol>
        <p>Мы надеемся, что вам понравится покупать игры в нашем магазине. Если у вас возникнут вопросы или проблемы, не стесняйтесь обращаться в нашу службу поддержки. Мы готовы помочь вам в любое время.</p>
    </div>
</div>