@model User

@{
    Layout = "MainView";
    ViewBag.user = Model;
    ViewBag.Selected = "About";
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4 text-center">О сайте</h1>
            <p class="text-justify">
                Привет! Меня зовут Виталий, и я создал сайт LozhkaGames в качестве проекта для своего портфолио. Этот сайт позволяет мне продемонстрировать мои навыки в бекенд разработке.
            </p>
            <p class="text-justify">
                Мой профиль на GitHub доступен по ссылке:
                <a href="https://github.com/vitstup">https://github.com/vitstup</a>.
            </p>
            <p class="text-justify">
                Мой профиль на HH.ru можно найти здесь:
                <a href="https://hh.ru/applicant/resumes/view?resume=05a506d8ff0bd2e5150039ed1f584232347133">https://hh.ru/applicant/resumes/view?resume=05a506d8ff0bd2e5150039ed1f584232347133</a>.
            </p>
            <p class="text-justify">
                Этот сайт написан на asp.net mvc с использованием базы данных Microsoft SQL Server.
            </p>
            <p class="text-justify">
                В основном я занимаюсь разработкой игр на Unity, но с недавнего времени освоил и бекенд разработку. Также есть опыт в написании мобильных Android приложений при помощи Android Studio и языка Kotlin.
            </p>
            <p class="text-justify">
                Опыт программирования на c# ~ 2 года, 3 месяца. Опыт разработки игр на Unity чуть больше 2 лет.
            </p>
            <p class="text-justify">
                Мои игры в Google Play:
                <a href="https://play.google.com/store/apps/dev?id=7302274207822071203">https://play.google.com/store/apps/dev?id=7302274207822071203</a>.
            </p>
            <p class="text-justify">
                Мои игры в Steam:
                <a href="https://store.steampowered.com/search/?developer=NordCode">https://store.steampowered.com/search/?developer=NordCode</a>.
            </p>
            <p class="text-justify">
                На данный момент сайт полностью функционирует и реализован с использованием передовых технологий. Однако, эквайринговая система не подключена, поэтому функция покупки игр доступна только в виде симуляции. Имейте в виду, что все полученные ключи Steam были сгенерированны случайно и скорее всего неактивны.
            </p>
        </div>
    </div>
</div>